
.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px; /* O'zingiz istagan o'lchamda */
    margin: 0 auto;
  }
  
  video {
    width: 100%;
    height: auto;
    display: block;
  }

.video-wrapper:hover video {
    transform: scale(1.1); /* yoki istagan o'zgartirilishi kerakgan xossalarni qo'llash */
    transition: transform 0.3s ease; /* Animatsiya vaqtini va usullarini o'zgartiring */
  }