.productBox {
  transition: all 1s;

  &:hover {
    background-color: white;
    border: 2px solid black;
  }
}

.productBox:hover .productText {
  transition: all 1s;

  color: black;
}
.productBox .productText {
  background-color: white;
  color: black;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.productBox {
  overflow: hidden;
}
.productBox .productImage {
  transition: all 1s;
  border-top-left-radius: 20px;
}

.productBox:hover .productImage {
  transition: all 1s;

  overflow-y: hidden;
  transform: scale(1.8);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: white;
}
