.check input[type="checkbox"] {
  /* Checkbox hajmi */
  width: 20px; /* Checkbox eni */
  height: 20px; /* Checkbox bo'yi */
  border: 2px solid red !important; /* Checkbox qanday qilib chizilganligi */
  border-radius: 4px; /* Checkbox radiusi */

  /* Check belgisi (xolati) */
  &:checked {
    background-color: #b8f321; /* Belgilangan bo'lganda fon rangi */
    border-color: #f3212c; /* Belgilangan bo'lganda chiziq rangi */
  }
}
